<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
    <title>Sams Club Group Project</title>
</head>

<body>


<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">Sams Club Group Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/cover">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="menu">Menu Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="menuItemOrder">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="supplier">Suppliers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white"  href="users.html"
                           th:href="@{/users}">Users</a>
                    </li>

                </ul>
                <div>
                    <a th:href="@{/logout}" class="btn btn-primary btn-sm mb-3"> Logout </a>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container">


    <h1>Menu Item Order List</h1>
    <hr />

    <a th:href="@{/my_menuItemOrders}" class="btn btn-primary btn-sm mb-3"> Add Ordered Menu Item </a>


    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Menu Item</th>
            <th>Price</th>
            <th>Qty Ordered</th>
            <th>Date</th>
            <th>Completed</th>
            <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="menuItemOrder: ${listMenuItemOrders}">
            <td th:text="${menuItemOrder.orderId}"></td>
            <td th:text="${menuItemOrder.menuItem}"></td>
            <td th:text="${menuItemOrder.price}"></td>
            <td th:text="${menuItemOrder.quantityOrdered}"></td>
            <td th:text="${menuItemOrder.orderDate}"></td>
            <td th:text="${menuItemOrder.completed} ? 'Yes' : 'No'"></td>


            <td><a th:href="@{/my_menuItemOrders/{id}(id=${menuItemOrder.orderId})}"
                   class="btn btn-primary">Edit</a>
                <a th:href="@{/deleteMenuItemOrder/{id}(id=${menuItemOrder.orderId})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container my-2">
    <a th:href="@{/logout}" class="btn btn-primary btn-sm mb-3"> Log out </a>
</div>

<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>

</body>

</html>