<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>


        <meta charset="UTF-8" />
        <meta
                name="viewport"
                content="width=device-width,initial-scale=1,shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                crossorigin="anonymous"
        />
        <!-- Bootstrap CSS -->
        <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
        />

        <!--==================== CSS ====================-->
        <link rel="stylesheet" href="../static/style.css" th:href="@{style.css}" />

        <!--==================== UNICONS ====================-->
        <link
                rel="stylesheet"
                href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
        />



    <title>Sams Club Group Project</title>
</head>
<body>

<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">Sams Club Group Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="menu">Menus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="order">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="payment">Payment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="myOrders">My Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white"  href="users.html"
                           th:href="@{/users}">Users</a>
                    </li>

                </ul> -->
                <div>
                    <a th:href="@{/login}" class="btn btn-primary btn-sm mb-3"> Login </a>
                </div>
            </div>
        </div>
    </nav>
</header>


<div class="container text-center my-5">
    <h1>WELCOME TO MY COFFEE SHOP INVENTORY MANAGEMENT SYSTEM</h1>
    <h6>The Coffee Inventory Management System is a web-based application designed to streamline the operations of
        coffee shops and cafes. It focuses on managing menu items, orders, and supplier information to ensure smooth
        day-to-day operations, maintain inventory levels, and establish strong supplier relationships.
    </h6>
    <img th:src="@{/images/coffee.PNG}" width="800px"/>

</div>


<script src="static/js/main.js"></script>

<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>
<!-- Bootstrap JavaScript (Popper.js and Bootstrap) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>